name: Release

on:
  #push:
  #  branches: [ master ]
  #pull_request:
  #  branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Clean OS
        run: |
          sudo apt update -y -qqq
          sudo apt autoremove --purge -y needrestart || true
          sudo apt remove --purge -y '^docker.*' '^container.*' '^podman.*' crun runc '^php.*'
          sudo apt install -y -qqq bash wget ca-certificates openssl curl binutils coreutils util-linux findutils diffutils patch sed gawk grep file gzip bzip2 xz-utils tar git
          sudo apt reinstall -y -qqq bash wget ca-certificates openssl curl binutils coreutils util-linux findutils diffutils patch sed gawk grep file gzip bzip2 xz-utils tar git
          sudo ln -svf bash /bin/sh
          sudo bash scripts/clean-os.sh
          sudo apt upgrade -y -qqq
          sudo rm -fr /tmp/*

      - name: Package docker and containerd
        run: |
          sudo rm -fr /tmp/.artifacts
          sudo mkdir /tmp/.artifacts

          sudo bash dl-docker.sh
          sudo mv -f /tmp/*.tar* /tmp/.artifacts/
          sudo rm -fr /tmp/*
  
          sudo bash dl-containerd.sh
          sudo mv -f /tmp/*.tar* /tmp/.artifacts/
          sudo rm -fr /tmp/*
 
          sudo bash dl-docker-only.sh
          sudo mv -f /tmp/*.tar* /tmp/.artifacts/
          sudo rm -fr /tmp/*

          sudo chmod 0644 /tmp/.artifacts/*.tar*

      - name: Generate release tag env
        run: |
          _release_ver="v$(date -u +%Y-%m-%d)"
          echo "_release_ver=${_release_ver}" >> $GITHUB_ENV

      - name: Upload files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env._release_ver }}
          files: /tmp/.artifacts/*.tar*
          overwrite_files: true

      - name: Delete old release tag env
        run: |
          rm -fr /tmp/.artifacts
          sed -e "/^_release_ver=/d" -i $GITHUB_ENV
